<div class="chartDemo">
    <style type="text/css">
        @import "app/widget/highchart/style/chart-demo.css";
        @import "lib/highcharts/css/highcharts.css";
    </style>
    <!--<div class="chartNode" data-dojo-attach-point="chartNode"></div>-->
    <!--<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="buttonNode">change</button>-->
    <div class="layout">
            <div class="chartNode" data-dojo-attach-point="chartNode" style="width:90%;height:90%"></div>
    </div>
</div>