<div class="matrix">
    <style type="text/css">
        @import "app/widget/matrix/css/matrix-setting.css";
    </style>
    <div>Matrix</div>
    <div>
    <label for="">row:</label>
    <div class="setting" data-dojo-type="app/widget/box/TextBox" data-dojo-attach-point="rowNode"></div>
    <label for="">column:</label>
    <div class="setting" data-dojo-type="app/widget/box/TextBox" data-dojo-attach-point="columnNode"></div>
    </div>

    <div id='contentHeader'>
    </div>

    <div id="content"></div>
</div>