.philips .elementButton {
	background-color: #f2f2f2;
	width: 126px;
	height: 40px;
	border-width: 0px !important;
	border-radius: 4px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
	border-radius: 4px;
}

.philips  .elementButton .elementButtonText {
	color: #000000;
	font-size: 17px;
	line-height: 41px;
	display: inline-block;
	float: right;
	margin-right: 16px;
	cursor: pointer;
}