.container{
    width:400px;
    height:700px;
    background-color: green;
    margin:100px;
    overflow:hidden;
}

.inner{
    width:200px;
    height:200px;
    background-color: red;
    position:relative;
    right:40px;
}
